[Unit]
Description=Omarchy Power Saver on Low Battery Check
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/bin/omarchy-powerprofile-power-saver-on-low-battery
Environment=DISPLAY=:0
LogLevelMax=warning

