[Unit]
Description=Switch to power-saver profile on low battery timer
Requires=powerprofile-low-battery.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec

[Install]
WantedBy=timers.target
