[Unit]
Description=Run send-to-kindle every Thursday at noon

[Timer]
OnCalendar=Thu *-*-* 12:00:00
Persistent=true

[Install]
WantedBy=timers.target
