After=graphical-session.target
[Service]
Type=oneshot
ExecStart=%h/bin/switch-power-profile-on-low-battery
Environment=DISPLAY=:0
LogLevelMax=warning
